<section class="about text-light d-flex align-items-center">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1 class="display-1 mb-4">About Me</h1>
                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum debitis totam optio
                    fuga
                    deserunt expedita, unde distinctio cupiditate repellat tempora quas iste officiis, cumque impedit ad
                    nostrum iure odit consequuntur.</p>
                <h5 class="text-uppercase mb-4">Contact Me</h5>
                <ul class="list-unstyled mb-4">
                    <li>+ (123) 1234-5678 / + (123) 1234-5678</li>
                    <li>suprema@qodeinteractive.com</li>
                </ul>
                <div class="social text-dark">
                    <ul class="list-unstyled d-flex">
                        <li class="me-2">
                            <div class="social-item position-relative overflow-hidden">
                                <div class="inner">
                                    <div class="icon main-icon d-flex align-items-center justify-content-center">
                                        <i class="fa-brands fa-facebook-f"></i>
                                    </div>
                                    <div
                                        class="icon hovered-icon d-flex align-items-center justify-content-center position-absolute">
                                        <i class="fa-brands fa-facebook-f"></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="me-2">
                            <div class="social-item position-relative overflow-hidden">
                                <div class="inner">
                                    <div class="icon main-icon d-flex align-items-center justify-content-center">
                                        <i class="fa-brands fa-twitter"></i>
                                    </div>
                                    <div
                                        class="icon hovered-icon d-flex align-items-center justify-content-center position-absolute">
                                        <i class="fa-brands fa-twitter"></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="me-2">
                            <div class="social-item position-relative overflow-hidden">
                                <div class="inner">
                                    <div class="icon main-icon d-flex align-items-center justify-content-center">
                                        <i class="fa-brands fa-dribbble"></i>
                                    </div>
                                    <div
                                        class="icon hovered-icon d-flex align-items-center justify-content-center position-absolute">
                                        <i class="fa-brands fa-dribbble"></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="me-2">
                            <div class="social-item position-relative overflow-hidden">
                                <div class="inner">
                                    <div class="icon main-icon d-flex align-items-center justify-content-center">
                                        <i class="fa-brands fa-vimeo-square"></i>
                                    </div>
                                    <div
                                        class="icon hovered-icon d-flex align-items-center justify-content-center position-absolute">
                                        <i class="fa-brands fa-vimeo-square"></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="me-2">
                            <div class="social-item position-relative overflow-hidden">
                                <div class="inner">
                                    <div class="icon main-icon d-flex align-items-center justify-content-center">
                                        <i class="fa-brands fa-instagram"></i>
                                    </div>
                                    <div
                                        class="icon hovered-icon d-flex align-items-center justify-content-center position-absolute">
                                        <i class="fa-brands fa-instagram"></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>