<section>
    <div class="container py-5">
        <div class="form w-75 m-auto">
            <h2 class="display-6 mb-5">Improve your Protection.</h2>
            <form [formGroup]="changePasswordForm">

                <mat-form-field class="w-100 mb-2">
                    <mat-label>Current Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="currentPassword">
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error
                        *ngIf="this.changePasswordForm.get('currentPassword')?.getError('required') && this.changePasswordForm.get('currentPassword')?.touched">
                        This field is <strong>Required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-100 mb-2">
                    <mat-label>New Password</mat-label>
                    <input (keyup)="passwordMatch()" matInput [type]="hide ? 'password' : 'text'"
                        formControlName="password">
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error
                        *ngIf="this.changePasswordForm.get('password')?.getError('required') && this.changePasswordForm.get('password')?.touched">
                        This field is <strong>Required</strong>
                    </mat-error>
                    <mat-error
                        *ngIf="this.changePasswordForm.get('password')?.getError('pattern') && this.changePasswordForm.get('password')?.touched">
                        Password must contain a <strong>Uppercase letter, number, special
                            character</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-100 mb-2">
                    <mat-label>Re-Password</mat-label>
                    <input (keyup)="passwordMatch()" matInput [type]="hide ? 'password' : 'text'"
                        formControlName="rePassword">
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="!matching && this.changePasswordForm.get('rePassword')?.touched">
                        Password not <strong>Match</strong>
                    </mat-error>
                </mat-form-field>
                <button type="submit" (click)="changePassword()" class="w-100" mat-raised-button
                    [disabled]="this.changePasswordForm.status != 'VALID'">Change Password</button>
            </form>
        </div>
    </div>
</section>