.fa-opencart {
    font-size: 10rem !important;
}

.home {
    padding: 10px 20px;
    background-color: #0CC3CE;
    border: none;
    outline: none;

    &:hover {
        background-color: black;
    }
}