<section>
    <div class="container py-5">
        <div class="form w-75 m-auto">
            <h2 class="display-5 mb-5">Enter your e-mail to send a reset Code.</h2>
            <form [formGroup]="forgotPasswordForm">
                <mat-form-field class="w-100 mb-4">
                    <mat-label>Email</mat-label>
                    <input  type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
                    <mat-error
                        *ngIf="forgotPasswordForm.get('email')?.touched && forgotPasswordForm.get('email')?.getError('email')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error
                        *ngIf="forgotPasswordForm.get('email')?.touched && forgotPasswordForm.get('email')?.getError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="this.errorMsg != ''">
                        {{this.errorMsg}}
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('email')?.touched && this.notYourEmail">
                        this is not your <strong>E-mail</strong>
                    </mat-error>
                </mat-form-field>
                <button type="submit" [disabled]="this.forgotPasswordForm.status != 'VALID'" (click)="sendEmail()"
                    class="w-100" mat-raised-button>Send</button>
            </form>
        </div>
    </div>
</section>