<section>
    <div class="container py-5">
        <div class="form w-75 m-auto">
            <h2 class="display-5 mb-5">Enter your e-mail to send a reset Code.</h2>
            <form [formGroup]="resetPasswordForm">
                <mat-form-field class="w-100">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="Ex. pat@example.com"
                        formControlName="email">
                    <mat-error
                        *ngIf="this.resetPasswordForm.get('email')?.getError('required') && this.resetPasswordForm.get('email')?.touched">
                        E-mail is <strong>Required</strong>
                    </mat-error>
                    <mat-error
                        *ngIf="this.resetPasswordForm.get('email')?.getError('email') && this.resetPasswordForm.get('email')?.touched">
                        Enter a <strong>valid E-mail</strong>
                    </mat-error>

                </mat-form-field>

                <mat-form-field class="w-100 mb-3">
                    <mat-label>Password</mat-label>
                    <input (keyup)="passwordMatch()" matInput [type]="hide ? 'password' : 'text'" formControlName="newPassword">
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error
                        *ngIf="this.resetPasswordForm.get('newPassword')?.getError('required') && this.resetPasswordForm.get('newPassword')?.touched">
                        Password is <strong>Required</strong>
                    </mat-error>
                    <mat-error
                        *ngIf="this.resetPasswordForm.get('newPassword')?.getError('pattern') && this.resetPasswordForm.get('newPassword')?.touched">
                        Password must contain a <strong>Uppercase letter, number, special
                            character</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-100 mb-3">
                    <mat-label>Re-Password</mat-label>
                    <input (keyup)="passwordMatch()" matInput [type]="hide ? 'password' : 'text'"
                        formControlName="rePassword">
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="!matching && this.resetPasswordForm.get('rePassword')?.touched">
                        Password not <strong>Match</strong>
                    </mat-error>
                </mat-form-field>
                <button type="submit"
                    class="w-100" mat-raised-button [disabled]="this.resetPasswordForm.status != 'VALID'" (click)="resetPassword()">Reset Password</button>
            </form>
        </div>
    </div>
</section>